<!-- <header class="main-header">
  <div class="logo">
      <h1><a href="#">Brookstone Community</a></h1>
  </div>


  <nav class="navigation">
      <span class="btn-menu">Menu</span>
      <ol class="nav-links">
          <li><a href="#">Pay Dues</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">User Profile</a></li>
          <li><a href="#">Sign Off</a></li>
      </ol>
  </nav>
</header>
<div id="wrapper" class="active">
      
    <div id="page-content-wrapper">
      <div class="page-content inset">
        <div class="row">
            <div class="col-md-12">
            <p class="well lead">An Experiment using the sidebar template from startbootstrap.com which I integrated in my website</p>
            <p class="well lead">Click on the Menu to Toggle Sidebar . Hope you enjoy it!</p> 
          </div>
        </div>
      </div>
    </div>
    
  </div> -->
  <div class="container-fluid">
    <div class="header">
      <h1 class="title">
        NOVUS
      </h1>
      <div class="nav-right">
        <ul>
          <li><a href="javascript:;">Menu Item 1</a></li>
          <li><a href="javascript:;">Menu Item 2</a></li>
          <li><a href="javascript:;">Menu Item 3</a></li>
        </ul>
      </div>
    </div>
    <div id="bodyWrapper">
      <div id="sidebar" [ngClass]="{ 'active': sidebarActive }" class="sidebar active">
        <div id="titleWrapper">
          <button id="hamburger" (click)="clickHandler()">
          <i class="fa fa-bars"></i>
          </button>
        </div>
        <ul>
          <li><a href="javascript:;"><span>Menu Item 1</span><i class="fa fa-user"></i></a></li>
          <li><a href="javascript:;"><span>Menu Item 2</span><i class="fa fa-user"></i></a></li>
          <li><a href="javascript:;"><span>Menu Item 3</span><i class="fa fa-user"></i></a></li>
        </ul>
      </div>
      <div class="content">
        <div>
          <h1>
          Content
          </h1>
          <p>
          This is some content.
          </p>
        </div>
      </div>
    </div>
  </div>  