  <div class="container-fluid">
    <div class="header">
      <h1 class="title">
        NOVUS
      </h1>
      <div class="nav-right">
        <ul>
          <li><a href="javascript:;">Pay Dues</a></li>
          <li><a href="javascript:;">Messages</a></li>
          <li><a href="javascript:;">Sign Off</a></li>
        </ul>
      </div>
    </div>
    <div id="bodyWrapper">
      <div id="sidebar" [ngClass]="{ 'active': sidebarActive }" class="sidebar active">
        <div id="titleWrapper">
          <button id="hamburger" (click)="clickHandler()">
          <i class="fa fa-bars"></i>
          </button>
        </div>
        <ul>
          <li><a href="javascript:;"><span>My Profile</span><i class="fa fa-user-circle-o"></i></a></li>
          <li><a href="javascript:;"><span>Documents</span><i class="fa fa-files-o"></i></a></li>
          <li><a href="javascript:;"><span>ARC Requests</span><i class="fa fa-wrench"></i></a></li>
        </ul>
      </div>
      <div class="content">
        <div>
          <h1>
          Content
          </h1>
          <p>
          This is some content.
          </p>
        </div>
      </div>
    </div>
  </div>  