body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif
}

a {
  text-decoration: none
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.main-header {
  background-color: #25354d;
  padding: 15px 15px;
  -webkit-transition: padding .3s;
  transition: padding .3s
}

.main-header .logo {
  float: left;
  max-width: calc(100% - (32px + 15px));
  height: 24px;
  -webkit-transition: height .3s;
  transition: height .3s;
  overflow: hidden
}

.main-header .logo>* {
  line-height: 24px;
  font-size: 26px;
  margin: 0;
  padding: 0;
  display: block;
  -webkit-transition: line-height .3s;
  transition: line-height .3s
}

.main-header .logo a {
  text-decoration: none;
  display: inline-block;
  line-height: 0
}

.main-header .logo img {
  height: 24px;
  -webkit-transition: height .3s;
  transition: height .3s;
  max-width: 100%
}

.main-header .navigation {
  float: right;
  max-width: 24px
}

.main-header .navigation .btn-menu {
  /* background: transparent url("../images/menu-btn.svg") no-repeat center; */
  background-size: 14px;
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  text-indent: -9999px
}

.main-header .navigation>.nav-links {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0
}

@media (max-width: 768px) {
  .main-header .navigation.open>.nav-links {
    background-color: #e2607a;
    display: block;
    position: absolute;
    z-index: 999;
    top: 54px;
    left: 0;
    width: 100%
  }
  .main-header .navigation.open>.nav-links>li>a {
    padding: 15px;
    display: block;
    color: #fff
  }
}

.main-header::after {
  content: '';
  display: block;
  clear: both
}

@media (min-width: 769px) {
  .main-header {
    padding: 25px 15px
  }
  .main-header .logo {
    max-width: none;
    height: 32px
  }
  .main-header .logo>* {
    line-height: 32px;
    font-size: 32px
  }
  .main-header .logo img {
    height: 32px
  }
  .main-header .navigation {
    max-width: none;
    line-height: 32px
  }
  .main-header .navigation .btn-menu {
    display: none
  }
  .main-header .navigation .nav-links {
    display: block
  }
  .main-header .navigation .nav-links>li {
    float: left;
    margin-left: 15px
  }
  .main-header .navigation .nav-links>li a {
    color: #fff
  }
  .main-header.shrink {
    padding-top: 12.5px;
    padding-bottom: 12.5px
  }
  .main-header.shrink .logo {
    height: 24px
  }
  .main-header.shrink .logo>* {
    line-height: 24px
  }
  .main-header.shrink .logo img {
    height: 24px
  }
  .main-header.shrink .navigation {
    line-height: 24px
  }
}

.main-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999
}
